.task-assignment {
  display: flex;
}
.task-assignment-container {
  flex: 6;
}
.task-assignment-content {
  margin: 0px 40px;
  padding: 10px 0px;
  display: flex;
}

.task-content {
  flex-basis: 50%;
  width: 600px;
}

.map-task {
  width: 100%;
  height: 600px;
  margin-right: 0;
}

.map-task-content {
  flex-basis: 50%;
  /* width: 200px; */
  display: flex;
  flex-direction: column;
}

.finish-btn {
  width: 20%;
  align-self: right;
  margin-left: 450px;
}
